@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');@import "tailwindcss";
@import "./animations.css";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

button {
  border: 1px solid transparent;
  padding: 0.5rem 1rem;
  font-weight: 600;
  font-family: "Plus Jakarta Sans", sans-serif;
}

.carousel {
  mask-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 15%, rgba(0, 0, 0, 1) 85%, rgba(0, 0, 0, 0) 100%);
}

.carousel::-webkit-scrollbar, .carousel-content::-webkit-scrollbar {
  display: none;
  pointer-events: none;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

summary::-webkit-details-marker {
  display: none;
}

details {
  transition: max-height 400ms ease-out;
}

.details-content {
  overflow: hidden;
  box-sizing: border-box;
  transition: max-height 0.4s ease-in-out, opacity 0.4s ease-in-out;
  max-height: 0;
}

details[open] .details-content {
  max-height: 200px; /* Needs to be larger than your tallest content */
  opacity: 1;
  transition: max-height 400ms ease-in-out, border 0ms linear;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@theme {
  --animate-fadeIn: fadeIn 0.3s linear;
  --animate-headerTextFadeIn: headerTextFadeIn 0.3s linear;
  --animate-heroImageDropDown: heroImageDropDown 0.5s linear;
  --animate-carousel: carousel 10s linear infinite;
  --animate-carousel2: carousel2 10s linear infinite;
  --animate-test: test 4s linear;
  --animate-topBorder: topBorder 0.1s linear;
  --animate-details: details 0.2s ease-in-out linear;
  --animate-howToUseDisplayFadeIn: howToUseDisplayFadeIn 0.3s linear;
  --animate-howToUseDisplayTextFadeDown: howToUseDisplayTextFadeDown 0.3s linear;

  --shadow-hero: -10px 10px 20px -3px rgba(255,255,255,0.54);
  
  /* --font-primary: "Play", sans-serif; */
  --font-primary: "Space Grotesk", sans-serif;
  --font-secondary: "Plus Jakarta Sans", sans-serif;
  /* --color-dark: oklch(0.1 0.1 203);
  --color-bg: oklch(0.15 0.1 203);
  --color-card: oklch(0.2 0.1 203);
  --color-text: oklch(0.96 0.1 203);
  --color-text-muted: oklch(0.76 0.1 203);
  --highlight: oklch(0.5 0.2 203);
  --color-border: oklch(0.4 0.2 203);
  --color-border-muted: oklch(0.3 0.2 203);
  --color-primary: oklch(0.76 0.2 203);
  --color-secondary: oklch(0.76 0.2 23);
  --danger: oklch(0.7 0.2 30);
  --warning: oklch(0.7 0.2 100);
  --success: oklch(0.7 0.2 160);
  --info: oklch(0.7 0.2 260); */

  --color-dark: oklch(0.92 0.065 228);
  --color-bg: oklch(0.96 0.065 228);
  --color-card: oklch(1 0.065 228);
  --color-text: oklch(0.15 0.13 228);
  --color-text-muted: oklch(0.4 0.13 228);
  --highlight: oklch(1 0.13 228);
  --color-border: oklch(0.6 0.13 228);
  --color-border-muted: oklch(0.7 0.13 228);
  --color-primary: oklch(0.4 0.13 228);
  --color-secondary: oklch(0.4 0.13 48);
  --danger: oklch(0.5 0.13 30);
  --warning: oklch(0.5 0.13 100);
  --success: oklch(0.5 0.13 160);
  --info: oklch(0.5 0.13 260);

  /* light mode values stored for later
  **
  --color-dark: oklch(0.92 0.1 203);
  --color-bg: oklch(0.96 0.1 203);
  --color-light: oklch(1 0.1 203);
  --color-text: oklch(0.15 0.2 203);
  --color-text-muted: oklch(0.4 0.2 203);
  --highlight: oklch(1 0.2 203);
  --color-border: oklch(0.6 0.2 203);
  --color-border-muted: oklch(0.7 0.2 203);
  --color-primary: oklch(0.4 0.2 203);
  --color-secondary: oklch(0.4 0.2 23);
  --danger: oklch(0.5 0.2 30);
  --warning: oklch(0.5 0.2 100);
  --success: oklch(0.5 0.2 160);
  --info: oklch(0.5 0.2 260); 
  **
  */
}
